*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 10px;
}

.container {
    width: 601px;
    height: 600px;
    outline: 1px solid blueviolet;
    outline-offset: 1px;
    margin: 3px auto;
    line-height: 0;
}

.sq-div {
    display: inline-block;
}

.btn-container{
    padding-left: 30px;
    padding-top: 30px;
    position: fixed;
}

.btn{
    width: 68px; height: 20px;
    margin: 3px;
    text-align: center;
    background-color: blueviolet;
    color: white;
    border: 1px dotted hsl(271, 76%, 53%);
}

.btn:hover{
    background-color: hsl(271, 23%, 50%);
}